        <section>
            <!--Monomials-->
            <article>
                <h3>Monomials</h3>
                <p>A <b>monomial</b> in one variable is the product of a constant and a variable raised to a nonnegative
                    integer
                    power. A monomial is of the form <i class="highlight">axᵏ</i> where
                    <i>a</i> is a <b>constant</b>, <i>x</i> is a <b>variable</b>, and <i>k</i> ≥ 0 is an integer. The
                    constant a
                    is called the
                    <b>coefficient</b> of the monomial. If <i>a</i> ≠ 0, then <i>k</i> is called the <b>degree</b> of
                    the
                    monomial.</p>
                <p>
                    Two monomials with the <span class="highlight">same variable raised to the same power</span> are
                    called
                    <b>like
                        terms</b>.
                </p>
                <p>For example, 2<i>x</i>⁴ and -5<i>x</i>⁴ are like terms.
                    In contrast, the monomials 2<i>x</i>³ and 2<i>x</i>⁵ are not like terms.
                </p>
                <p>
                    We can add or subtract like terms using the Distributive Property. For example,
                </p>
                <p>
                    2<i>x</i>² + 5<i>x</i>² = (2 + 5)<i>x</i>² = 7<i>x</i>
                </p>
            </article>
            <!--Polynomials-->
            <article>
                <h3>Polynomials</h3>
                <p>A polynomial in one variable is an algebraic expression of the form</p>
                <p>
            <span class="highlight">
                <svg height="25">
                    <text x="0" y="20" font-style="italic">
                        a
                        <tspan y="25" font-size="small">n</tspan>
                        <tspan y="20">x</tspan>
                        <tspan y="10" font-size="small">n</tspan>
                        <tspan y="20">+
                            a
                        </tspan>
                        <tspan y="25" font-size="small">n-1</tspan>
                        <tspan y="20">x</tspan>
                        <tspan y="10" font-size="small">n-1</tspan>
                        <tspan y="20">+ ... + a</tspan>
                        <tspan y="25" font-size="small">1</tspan>
                        <tspan y="20">x</tspan>
                        + a
                        <tspan y="25" font-size="small">0</tspan>
                    </text>
                </svg>
            </span>
                </p>
                <p>
                    where
                    <svg height="25" width="180" style="position: relative; top: 3px;">
                        <text x="0" y="20" font-style="italic">
                            a
                            <tspan y="25" font-size="small">n</tspan>
                            <tspan y="20">
                                , a
                            </tspan>
                            <tspan y="25" font-size="small">n-1</tspan>
                            <tspan y="20">, ... , a</tspan>
                            <tspan y="25" font-size="small">1</tspan>
                            <tspan y="20">, a</tspan>
                            <tspan y="25" font-size="small">0</tspan>
                        </text>
                    </svg>
                    are <b>constants</b>, called the <b>coefficients</b> of the polynomial, <i>n</i> ≥ 0 is an integer,
                    and
                    <i>x</i> is a <b>variable</b>. If a𝗇 ≠ 0, it is called the <b>leading coefficient</b>, <i>a𝗇
                    xⁿ</i> is
                    called the
                    <b>leading term</b>, and <i>n</i> is the <b>degree</b> of the polynomial.
                </p>
                <h5>Adding Polynomials</h5>
                <p>Find the sum of the polynomials:</p>
                <svg height="25" width="180">
                    <!--8x3 -2x2 +6x--->
                    <text x="0" y="20">
                        8
                        <tspan font-style="italic">x</tspan>
                        <tspan y="10" font-size="small">3</tspan>
                        <tspan y="20">- 2</tspan>
                        <tspan font-style="italic">x</tspan>
                        <tspan y="10" font-size="small">2</tspan>
                        <tspan y="20">+ 6</tspan>
                        <tspan font-style="italic">x</tspan>
                        <tspan>- 2</tspan>
                    </text>
                </svg>
                and
                <svg height="25">
                    <!--3x4 -2x3 +x2 +x-->
                    <text x="20" y="20">
                        3
                        <tspan font-style="italic">x</tspan>
                        <tspan y="10" font-size="small">4</tspan>
                        <tspan y="20">- 2</tspan>
                        <tspan font-style="italic">x</tspan>
                        <tspan y="10" font-size="small">3</tspan>
                        <tspan y="20">+</tspan>
                        <tspan font-style="italic">x</tspan>
                        <tspan y="10" font-size="small">2</tspan>
                        <tspan y="20">+</tspan>
                        <tspan font-style="italic">x</tspan>
                    </text>
                </svg>
                <p><b>Horizontal Addition</b>: The idea here is to group the like terms and then combine them.</p>
                <p>The idea here is to group the like terms and then combine them.</p>
                <svg width="100%">
                    <svg width="100%" height="25">
                        <!--8x3 -2x2 +6x--->
                        <text x="0" y="20">
                            (8
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">3</tspan>
                            <tspan y="20">- 2</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">2</tspan>
                            <tspan y="20">+ 6</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan>- 2</tspan>
                            )
                        </text>
                        <!--3x4 -2x3 +x2 +x-->
                        <text x="185" y="20">
                            + (3
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">4</tspan>
                            <tspan y="20">- 2</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">3</tspan>
                            <tspan y="20">+</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">2</tspan>
                            <tspan y="20">+</tspan>
                            <tspan font-style="italic">x</tspan>
                            )
                        </text>
                    </svg>
                    <svg width="100%" height="25" y="40">
                        <!--8x3 -2x2 +6x--->
                        <text x="0" y="20">
                            = 3
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">4</tspan>
                            <tspan y="20">+ (8</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">3</tspan>
                            <tspan y="20">- 2</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">3</tspan>
                            <tspan y="20">) + (- 2</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">2</tspan>
                            <tspan y="20">+</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">2</tspan>
                            <tspan y="20">) + (6</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan y="20">+</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan>) - 2</tspan>
                        </text>
                    </svg>
                    <svg width="100%" height="25" y="80">
                        <!--8x3 -2x2 +6x--->
                        <text x="0" y="20">
                            = 3
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">4</tspan>
                            <tspan y="20">+ 6</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">3</tspan>
                            <tspan y="20"> -</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">2</tspan>
                            <tspan y="20"> + 7</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan> - 2</tspan>
                        </text>
                    </svg>
                </svg>
                <p><b>Vertical Addition</b>: The idea here is to vertically line up the like terms in each polynomial
                    and
                    then add the coefficients.</p>
                <svg width="100%">
                    <svg width="100%" height="25">
                        <text x="20" y="20" class="hand">
                            <tspan font-style="italic" y="20" x="40">x</tspan>
                            <tspan y="10" font-size="small">4</tspan>
                            <tspan font-style="italic" y="20" x="90">x</tspan>
                            <tspan y="10" font-size="small">3</tspan>
                            <tspan font-style="italic" y="20" x="145">x</tspan>
                            <tspan y="10" font-size="small">2</tspan>
                            <tspan font-style="italic" y="20" x="200">x</tspan>
                            <tspan y="10" font-size="small">1</tspan>
                            <tspan font-style="italic" y="20" x="240">x</tspan>
                            <tspan y="10" font-size="small">0</tspan>
                        </text>
                    </svg>
                    <svg width="100%" height="25" y="30">
                        <text x="75" y="20">
                            8
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">3</tspan>
                            <tspan y="20">- 2</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">2</tspan>
                            <tspan y="20">+ 6</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan>- 2</tspan>
                        </text>
                    </svg>
                    <svg width="100%" height="25" y="60">
                        <text x="5" y="20">
                            + 3
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">4</tspan>
                            <tspan y="20">- 2</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">3</tspan>
                            <tspan y="20">+</tspan>
                            <tspan font-style="italic" x="145">x</tspan>
                            <tspan y="10" font-size="small">2</tspan>
                            <tspan y="20">+</tspan>
                            <tspan font-style="italic" x="200">x</tspan>
                        </text>
                    </svg>
                    <path d="M0,90 H250" stroke="black"></path>
                    <svg width="100%" height="25" y="100">
                        <text x="20" y="20">
                            3
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">4</tspan>
                            <tspan y="20">+ 6</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan y="10" font-size="small">3</tspan>
                            <tspan y="20"> -</tspan>
                            <tspan font-style="italic" x="145">x</tspan>
                            <tspan y="10" font-size="small">2</tspan>
                            <tspan y="20"> + 7</tspan>
                            <tspan font-style="italic">x</tspan>
                            <tspan> - 2</tspan>
                        </text>
                    </svg>
                </svg>

                <h5>Multiplying Polynomials</h5>
                <p>Two monomials may be multiplied using the <a href="/expressions/#exponentsLaw">Laws of Exponents</a>
                    and
                    the Commutative and Associative Properties.</p>
                <p>Find the product: (2<i>x</i> + 5)(<i>x</i>² - <i>x</i> + 2)</p>
                <p><b>Horizontal Multiplication:</b></p>
                <div class="svgContainer">
                    <svg width="600" height="80">
                        <text x="0" y="20">
                            (2
                            <tspan font-style="italic">x</tspan>
                            + 5)
                            (
                            <tspan font-style="italic">x</tspan>
                            ² -
                            <tspan font-style="italic">x</tspan>
                            + 2) =
                            2
                            <tspan font-style="italic">x</tspan>
                            (
                            <tspan font-style="italic">x</tspan>
                            ² -
                            <tspan font-style="italic">x</tspan>
                            + 2)
                            + 5(
                            <tspan font-style="italic">x</tspan>
                            ² -
                            <tspan font-style="italic">x</tspan>
                            + 2)
                        </text>
                        <path d="M170,50 V25" stroke="var(--hand-color)" marker-end="url(#arrow)"></path>
                        <text x="175" y="65" class="hand">Distributive property</text>
                    </svg>
                    <svg width="600" height="80">
                        <!--(2x ⋅ x² - 2x ⋅ x + 2x ⋅ 2)(5 ⋅ x² - 5 ⋅ x + 5 ⋅ 2)-->
                        <text x="165" y="20">
                            = (2
                            <tspan font-style="italic">x</tspan>
                            ⋅
                            <tspan font-style="italic">x</tspan>
                            ² - 2
                            <tspan font-style="italic">x</tspan>
                            ⋅
                            <tspan font-style="italic">x</tspan>
                            + 2
                            <tspan font-style="italic">x</tspan>
                            ⋅ 2)(5 ⋅
                            <tspan font-style="italic">x</tspan>
                            ² - 5 ⋅
                            <tspan font-style="italic">x</tspan>
                            + 5 ⋅ 2)
                        </text>
                        <path d="M170,50 V25" stroke="var(--hand-color)" marker-end="url(#arrow)"></path>
                        <text x="175" y="65" class="hand">Distributive property</text>
                    </svg>
                    <svg width="600" height="80">
                        <!--(2x³ - 2x² + 4x)(5x² - 5x + 10)-->
                        <text x="165" y="20">
                            = (2
                            <tspan font-style="italic">x</tspan>
                            ³ - 2
                            <tspan font-style="italic">x</tspan>
                            ² + 4
                            <tspan font-style="italic">x</tspan>
                            )
                            (5
                            <tspan font-style="italic">x</tspan>
                            ² - 5
                            <tspan font-style="italic">x</tspan>
                            + 10)
                        </text>
                        <path d="M170,50 V25" stroke="var(--hand-color)" marker-end="url(#arrow)"></path>
                        <text x="175" y="65" class="hand">Law of exponents</text>
                    </svg>
                    <svg width="600" height="80">
                        <!--2x³ + 3x² - x + 10-->
                        <text x="165" y="20">
                            = 2
                            <tspan font-style="italic">x</tspan>
                            ³ + 3
                            <tspan font-style="italic">x</tspan>
                            ² -
                            <tspan font-style="italic">x</tspan>
                            + 10
                        </text>
                        <path d="M170,50 V25" stroke="var(--hand-color)" marker-end="url(#arrow)"></path>
                        <text x="175" y="65" class="hand">Combine like terms</text>
                    </svg>
                </div>
                <p><b>Vertical Multiplication:</b></p>
                <svg width="100%">
                    <text x="100" y="20">
                        <tspan font-style="italic">x</tspan>² -
                        <tspan font-style="italic" x="150">x</tspan>
                        + 2
                    </text>
                    <text x="140" y="40">
                        2<tspan font-style="italic">x</tspan> + 5
                    </text>
                    <path d="M20,50 H200" stroke="black"></path>
                    <text x="43" y="70">
                        2<tspan font-style="italic">x</tspan>³ - 2<tspan font-style="italic">x</tspan>² + 4<tspan font-style="italic">x</tspan>
                    </text>
                    <text x="210" y="75" class="hand">This line is 2
                        <tspan font-style="italic">x</tspan>
                        (<tspan font-style="italic">x</tspan>² - <tspan font-style="italic">x</tspan> + 2)
                    </text>
                    <text x="0" y="95">(+)</text>
                    <text x="90" y="95">
                        5<tspan font-style="italic">x</tspan>² <tspan x="130">-</tspan> 5<tspan font-style="italic">x</tspan> + 10
                    </text>
                    <text x="210" y="100" class="hand">This line is 5(
                        <tspan font-style="italic">x</tspan>² -
                        <tspan font-style="italic">x</tspan>
                        + 2)
                    </text>
                    <path d="M20,110 H200" stroke="black"></path>
                    <text x="28" y="130">
                        2
                        <tspan font-style="italic">x</tspan>³ + 3
                        <tspan font-style="italic">x</tspan>² -
                        <tspan font-style="italic" x="150">x</tspan>
                        + 10
                    </text>
                </svg>

            </article>
            <!--Formulas for Special Products-->
            <article>
                <h3>Formulas for Special Products</h3>

                <p>Certain products, which we call special products, occur frequently in algebra. We can calculate them
                    easily using the
                    <b>FOIL (First, Outer, Inner, Last)</b> method of multiplying two binomials.</p>
                <svg width="100%" height="200">
                    <!--C x1 y1, x2 y2, x y (or c dx1 dy1, dx2 dy2, dx dy)-->
                    <!--The last set of coordinates here (x,y) are where you want the line to end.-->
                    <!--The other two are control points. (x1,y1) is the control point for the start of your curve,
                        and (x2,y2) is the control point for the end.-->
                    <text x="40" y="50" class="hand">First</text>
                    <path d="M30 80 C 40 50, 80 50, 90 80" stroke="var(--hand-color)" fill="transparent" marker-end="url(#arrow)"/>
                    <text x="110" y="60" class="hand">Outer</text>
                    <path d="M30 80 C 70 60, 130 60, 130 80" stroke="var(--hand-color)" fill="transparent" marker-end="url(#arrow)"/>
                    <text x="10" y="100">(a<tspan font-style="italic">x</tspan> + b)(c<tspan font-style="italic">x</tspan> + d) = a<tspan font-style="italic">x</tspan>(c<tspan font-style="italic">x</tspan> + d) + b(c<tspan font-style="italic">x</tspan> + d)</text>
                    <path d="M65 110 C 70 130, 85 130, 90 110" stroke="var(--hand-color)" fill="transparent" marker-end="url(#arrow)"/>
                    <text x="60" y="145" class="hand">Inner</text>
                    <path d="M65 110 C 70 125, 130 130, 130 110" stroke="var(--hand-color)" fill="transparent" marker-end="url(#arrow)"/>
                    <text x="120" y="140" class="hand">Last</text>
                </svg>

                <p><b>Difference of Two Squares</b></p>
                <p>
                    <span class="highlight">(<i>x</i>-a)(<i>x</i>+a) = <i>x</i>² - a²</span>
                </p>
                <svg width="100%" height="40">
                    <!--(x - 5)(x + 5) = x² - 5² = x² - 25-->
                    <text x="0" y="20">(<tspan font-style="italic">x</tspan>
                        - 5)(<tspan font-style="italic">x</tspan>
                        + 5) =
                        <tspan font-style="italic">x</tspan>² - 5² =
                        <tspan font-style="italic">x</tspan>² - 25
                    </text>
                    <text x="380" y="25" class="hand">Difference of two squares</text>
                </svg>
                <p><b>Squares of Binomials, or Perfect Squares</b></p>
                <p>
                    <span class="highlight">
                        (<i>x</i> + a)² = <i>x</i>² + 2<i>x</i>a + a²
                    </span>
                </p>
                    <svg width="100%" height="40">
                        <!--(x + 7)² = x² + 2⋅7⋅x + 7² = x² + 14x + 49-->
                        <text x="0" y="20">(<tspan font-style="italic">x</tspan> + 7)² =
                            <tspan font-style="italic">x</tspan>² + 2⋅7⋅<tspan font-style="italic">x</tspan> + 7² =
                            <tspan font-style="italic">x</tspan>² + 14<tspan font-style="italic">x</tspan> + 49</text>
                        <text x="380" y="25" class="hand">Squares of binomials</text>
                    </svg>
                <p>
                    <span class="highlight">
                        (<i>x</i> - a)² = <i>x</i>² - 2<i>x</i>a + a²
                    </span>
                </p>
                <svg width="100%" height="40">
                    <!--(3x - 4)² = (3x)² - 2⋅4⋅3x + 4² = 9x² - 24x + 16-->
                    <text x="0" y="20">(3<tspan font-style="italic">x</tspan> - 4)² =
                        (3<tspan font-style="italic">x</tspan>)² - 2⋅4⋅3<tspan font-style="italic">x</tspan> + 4² =
                        9<tspan font-style="italic">x</tspan>² - 24<tspan font-style="italic">x</tspan> + 16</text>
                </svg>

                <p><b> Cubes of Binomials, or Perfect Cubes</b></p>
                <p><span class="highlight">(x + a)³ = x³ + 3ax² + 3a²x + a³</span></p>
                <p>
                    <!--(x + 2)³ = x³ + 3⋅2⋅x² + 3⋅2²⋅x + 2³ = x³ + 6x² + 12x + 8-->
                    (<i>x</i> + 2)³ = <i>x</i>³ + 3⋅2⋅<i>x</i>² + 3⋅2²⋅<i>x</i> + 2³ = <i>x</i>³ + 6<i>x</i>² + 12<i>x</i> + 8
                </p>
                <p><span class="highlight">(x - a)³ = x³ - 3ax² + 3a²x - a³</span></p>
                <p>
                    <!--(x - 1)³ = x³ - 3⋅1⋅x² + 3⋅1²⋅x - 1³ = x³ - 3x² + 3x - 1-->
                    (<i>x</i> - 1)³ = <i>x</i>³ - 3⋅1⋅<i>x</i>² + 3⋅1²⋅<i>x</i> - 1³ = <i>x</i>³ - 3<i>x</i>² + 3<i>x</i> - 1
                </p>
                <p><b>Difference of Two Cubes</b>
                </p>
                <p>
                    <span class="highlight">
                        <!--(x - a)(x² + ax + a²) = x³ - a³-->
                        (<i>x</i> - a)(<i>x</i>² + a<i>x</i> + a²) = <i>x</i>³ - a³
                    </span>
                </p>
                <svg width="100%" height="150">
                    <text x="10" y="20">(<tspan font-style="italic">x</tspan> - 1)(<tspan font-style="italic">x</tspan>² +<tspan font-style="italic">x</tspan> + 1) = <tspan font-style="italic">x</tspan>(<tspan font-style="italic">x</tspan>² + <tspan font-style="italic">x</tspan> + 1) - 1(<tspan font-style="italic">x</tspan>² + <tspan font-style="italic">x</tspan> + 1)</text>
                    <!--L x y (or l dx dy)-->
                    <path d="M210,55 L230,35" stroke="var(--hand-color)"></path>
                    <path d="M275,55 L295,35" stroke="var(--hand-color)"></path>

                    <text x="153" y="50">= <tspan font-style="italic">x</tspan>³ + <tspan font-style="italic">x</tspan>² + <tspan font-style="italic">x</tspan> - <tspan font-style="italic">x</tspan>² - <tspan font-style="italic">x</tspan> - 1</text>

                    <path d="M210,85 L230,65" stroke="var(--hand-color)"></path>
                    <path d="M230,85 L250,65" stroke="var(--hand-color)"></path>
                    <text x="153" y="80">= <tspan font-style="italic">x</tspan>³ + <tspan font-style="italic">x</tspan> - <tspan font-style="italic">x</tspan> - 1</text>

                    <text x="153" y="110">= <tspan font-style="italic">x</tspan>³ - 1</text>
                </svg>
                <p><b>Sum of Two Cubes</b></p>
                <p>
                    <span class="highlight">
                        <!--(x + a)(x² - ax + a²) = x³ - a³-->
                        (<i>x</i> + a)(<i>x</i>² - a<i>x</i> + a²) = <i>x</i>³ + a³
                    </span>
                </p>

                <svg width="100%">

                    <!--(x + 2)(x² - 2x + 4) = x(x² - 2x + 4) + 2(x² - 2x + 4)-->
                    <text x="10" y="20">
                    (<tspan font-style="italic">x</tspan> + 2)(<tspan font-style="italic">x</tspan>² - 2<tspan font-style="italic">x</tspan> + 4) = <tspan font-style="italic">x</tspan>(<tspan font-style="italic">x</tspan>² - 2<tspan font-style="italic">x</tspan> + 4) + 2(<tspan font-style="italic">x</tspan>² - 2<tspan font-style="italic">x</tspan> + 4)
                    </text>
                    <!--L x y (or l dx dy)-->
                    <path d="M230,55 L250,35" stroke="var(--hand-color)"></path>
                    <path d="M320,55 L340,35" stroke="var(--hand-color)"></path>

                    <!--= x³ - 2x² + 4x + 2x² - 4x + 8-->
                    <text x="173" y="50">
                    = <tspan font-style="italic">x</tspan>³ - 2<tspan font-style="italic">x</tspan>² + 4<tspan font-style="italic">x</tspan> + 2<tspan font-style="italic">x</tspan>² - 4<tspan font-style="italic">x</tspan> + 8
                    </text>

                    <path d="M230,85 L250,65" stroke="var(--hand-color)"></path>
                    <path d="M270,85 L290,65" stroke="var(--hand-color)"></path>
                    <!--= x³ + 4x - 4x + 8-->
                    <text x="173" y="80">
                        = <tspan font-style="italic">x</tspan>³ + 4<tspan font-style="italic">x</tspan> - 4<tspan font-style="italic">x</tspan> + 8
                    </text>

                    <!--= x³ + 8-->
                    <text x="173" y="110">= <tspan font-style="italic">x</tspan>³ + 8</text>
                </svg>
            </article>
            {% include_relative dividing.html %}
            {% include_relative two-variables.html %}

        </section>