<section>
    <article>
        <p class="center">
            <svg height="60">
                <!--(2x+3)(x-4) = 2x - 5x - 12-->
                <text x="10" y="20">
                    (2
                    <tspan font-style="italic">x</tspan>
                    +3)(
                    <tspan font-style="italic">x</tspan>
                    -4) = 2
                    <tspan font-style="italic">x</tspan>
                    - 5
                    <tspan font-style="italic">x</tspan>
                    - 12
                </text>
                <path d="M12,25 V30 H56 V25" stroke="var(--hand-color)" fill="none"></path>
                <path d="M62,25 V30 H90 V25" stroke="var(--hand-color)" fill="none"></path>
                <text x="20" y="50" class="hand">factors</text>
            </svg>
        </p>
        <p>
            The two polynomials on the left side are called <b>factors</b> of the polynomial on the right side.
        </p>
        <p>
            Expressing a given polynomial as a product of other polynomials, that is, <span class="highlight">finding the factors of a polynomial, is called
                    <b>factoring</b></span>.
        </p>
        <p>
            If a polynomial cannot be written as the product of two other polynomials (excluding 1 and -1), then the
            polynomial is said to be
            <b>prime</b>. When a polynomial has been written as a product consisting only of prime factors, it is said
            to be
            <b>factored completely</b>.
        </p>
        <p>
            The first factor to look for in a factoring problem is a common monomial factor present in each term of the
            polynomial. If one is present, use the Distributive Property to factor it out. Continue factoring out
            monomial
            factors until none are left.
        </p>
        <p class="center">
            <svg height="80">
                <!--2x + 4 = 2(x + 2)-->
                <text x="10" y="20">2
                    <tspan font-style="italic">x</tspan>
                    + 4 = 2(<tspan font-style="italic">x</tspan> + 2)
                </text>
                <!--C x1 y1, x2 y2, x y
                (x,y) are where you want the line to end
                (x1,y1) is the control point for the start
                (x2,y2) is the control point for the end-->
                <path d="M15,25 C 15 40, 20 50, 30 50" fill="none" stroke="var(--hand-color)"
                      marker-start="url(#arrow)"></path>
                <text x="40" y="40" class="hand">2⋅2</text>
                <text x="40" y="60" class="hand">2 is common monomial factor</text>
                <text x="160" y="20" class="hand">⟵ factored form</text>

            </svg>
        </p>
    </article>

    <article>
        <h3>Factor the Difference of Two Squares and the Sum
            and Difference of Two Cubes</h3>

        <table class="table-spaced">
            <tr>
                <td><b>Difference of Two Squares</b></td>
                <td><i>x</i>² - a² = (<i>x</i> - a)(<i>x</i> + a)</td>
            </tr>
            <tr>
                <td><b>Perfect Squares</b></td>
                <td><!--x² - 2ax + a² = (x - a)²-->
                    <i>x</i>² - 2a<i>x</i> + a² = (<i>x</i> - a)²
                </td>
            </tr>
            <tr>
                <td><b>Sum of two cubes</b></td>
                <td><!--x³ + a³ = (x + a)(x² - ax + a²)-->
                    <i>x</i>³ + a³ = (<i>x</i> + a)(<i>x</i>² - a<i>x</i> + a²)
                </td>
            </tr>
            <tr>
                <td><b>Difference of two cubes</b></td>
                <td><!--x³ - a³ = (x - a)(x² + ax + a²)-->
                    <i>x</i>³ - a³ = (<i>x</i> - a)(<i>x</i>² + a<i>x</i> + a²)
                </td>
            </tr>
        </table>
    </article>
    {% include_relative degree2.html %}
    {% include_relative grouping.html %}
</section>