@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
html{
    height: 100%;
}
body{
    height: 100%;
}
card-container{
    font-family: 'Montserrat', sans-serif;
}

card-quiz{
    display: flex;
}

math-expression{
    font-size: 2rem;
}

button.check{
    background: #d1ad5d;
    color: #275345;
    font-weight: 700;
    -webkit-appearance: none;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    width: 70%;
    align-self: center;
}
