@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Oxygen+Mono|Old+Standard+TT:400,400i');

:root {
    --unit: 10px;
    --hand-color: #0d82ff;
    --red: #ee6352;
    --violet: #7a306c;
    --orange: #fe5d26;
    --green: #7dce82;
    --highlight: lemonchiffon;
}

html {
    font-family: Georgia, Serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oxygen Mono', monospace;
}

main {
    max-width: 100%;
}

article {
    font-size: 1.2rem;
}

svg {
    overflow: visible;
}

p {
    line-height: 1.5;
}

pre {
    line-height: 1;
}

.math {
    font-family: 'Old Standard TT', serif;
}

.svgContainer {
    width: 100%;
    overflow: auto;
}

.hand {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.4rem;
    color: var(--hand-color);
    fill: var(--hand-color);
}

.blue {
    color: var(--hand-color);
    fill: var(--hand-color);
}

.header-blue{
    background-color: aliceblue;
}

.red {
    color: var(--red);
    fill: var(--red);
}

.orange {
    color: var(--orange);
    fill: var(--orange);
}

.center {
    text-align: center;
}

.complement {
    position: relative;
}

.complement:before {
    content: "";
    border-top: 1px solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sesquialteral {
    line-height: 1.5;
}

.double {
    line-height: 2;
}

.caps {
    text-transform: uppercase;
}
.lower-alpha {
    list-style-type: lower-alpha;
}

.upper-alpha {
    list-style-type: upper-alpha;
}

.border-bottom{
    border-bottom: 1px solid;
}

.flex {
    display: flex;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inline-flex{
    display: inline-flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-end {
    justify-content: flex-end;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.highlight {
    background: var(--highlight);
    padding: 5px;
}

section {
    max-width: 85ch;
}

aside {
    width: 30%;
}

.hidden {
    display: none;
}

article h3 {
    background-color: gold;
}

article h5 {
    background-color: #29d2e94a;
}

:target {
    /* @keyframes duration | timing-function | delay | name */
    animation: 1s ease flash;
}

@keyframes flash {
    50% {
        background-color: transparent;
    }
}

.fixed {
    position: fixed;
    overflow: auto;
    height: 100%;
}

.theorem {

}

.table-spaced {
    border-collapse: separate;
    border-spacing: 50px 0;
}

.table-spaced td {
    padding-bottom: 25px;
}

.path-blue {
    fill: none;
    stroke: var(--hand-color);
}

.grid-1-2-2 {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    display: grid;
    /*flexible-length unit fr*/
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 10px;
}

math-expression{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}
math-fraction{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
math-fraction > sup{
    border-bottom: 1px solid;
}

/* min-width	Rules applied for any browser width greater than the value defined in the query.*/
