@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Oxygen+Mono');

:root {
    --unit: 10px;
    --hand-color: #0d82ff;
    --highlight: lemonchiffon;
}

html {
    font-family: Georgia, Serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oxygen Mono', monospace;
}

main {
    max-width: 100%;
}
article {
    font-size: 1.2rem;
}

svg {
    overflow: visible;
}

.svgContainer{
    width: 100%;
    overflow: auto;
}

p {
    line-height: 1.2;
}


.hand {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.4rem;
    color: var(--hand-color);
    fill: var(--hand-color);
}

.blue {
    color: var(--hand-color);
    fill: var(--hand-color);
}

pre {
    line-height: 1;
}

.center {
    text-align: center;
}

.complement {
    position: relative;
}

.complement:before {
    content: "";
    border-top: 1px solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sesquialteral {
    line-height: 1.5;
}

.double {
    line-height: 2;
}

.lower-alpha {
    list-style-type: lower-alpha;
}

.upper-alpha {
    list-style-type: upper-alpha;
}

.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.highlight {
    background: var(--highlight);
    padding: 5px;
}

section {
    max-width: 85ch;
}

aside {
    width: 30%;
}

.hidden {
    display: none;
}

article h3 {
    background-color: gold;
}

article h5 {
    background-color: #29d2e94a;
}

:target {
    /* @keyframes duration | timing-function | delay | name */
    animation: 1s ease flash;
}

@keyframes flash {
    /*from {*/
    /*background-color: transparent;*/
    /*}*/
    50% {
        background-color: transparent;
    }
    /*to {*/
    /*background-color: transparent;*/
    /*}*/
}

.fixed {
    position: fixed;
    overflow: auto;
    height: 100%;
    width: 100%;
}

/* min-width	Rules applied for any browser width greater than the value defined in the query.*/

