<!DOCTYPE html>
<html lang="en">
<head>{% include head.html %}
</head>
<body>
<h1 class="center">{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</h1>
<nav>
    <ul>
        <li><a href="sets">Working with sets</a></li>
        <li><a href="numbers">Numbers</a></li>
        <li><a href="number-line">The Real Number Line</a></li>
        <li><a href="expressions">Evaluating an Algebraic Expression</a></li>
        <li><a href="geometry">Geometry Essentials</a></li>
        <li><a href="polynomials">Polynomials</a></li>
        <li><a href="factoring">Factoring Polynomials</a></li>
        <li><a href="functions">Functions</a></li>
    </ul>
</nav>
<nav>
    <ul>
        <li><a href=""></a></li>
    </ul>
</nav>
</body>
</html>